@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Website CSS style -->
    <link href="~/Content/css/Registro.css" rel="stylesheet">
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <title>Admin</title>
</head>
<body>
    <div class="container">
        <div class="row main">
            <div class="main-login main-center">

                <h3>Ingresa la ubicación de tu restaurante</h3>
                <form id="formulario2" method="post" action="@Url.Action("RegistrarUsuario","Login")">

                    <div class="form-group">
                        <label for="fname" class="cols-sm-2 control-label">Pais</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-flag fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="pais" id="fname" placeholder="Pais del restaurante" required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="dept" class="cols-sm-2 control-label">Departamento o Estado</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-map fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="dept" id="dept" placeholder="Departamento o Estado del Restaurante" required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="city" class="cols-sm-2 control-label">Ciudad o Municipio</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-city fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="city" id="city" placeholder="Ciudad o Municipio del restaurante" required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="zone" class="cols-sm-2 control-label">Zona en la que se ubica</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-map fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="zone" id="zone" placeholder="Zona" required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="calle" class="cols-sm-2 control-label">Calle</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-map fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="street" id="calle" placeholder="Ingresa la Calle" required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group " id="button_Regis">
                        <input type="submit" name="button_Regis" class="btn btn-primary btn-lg btn-block submit-button" value="Registrar">
                    </div>

                    <div class="form-group ">
                        <a href="@Url.Action("Registrar", "Login")" type="button" id="button" class="btn btn-primary btn-lg btn-block back-button">Regresar</a>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>






    <script src="@Url.Content("~/Scripts/Views/Login/Registrar_Restaurante.js")" type="text/javascript"></script>


    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>