@{
    ViewBag.Title = "Platillos";
}
<!DOCTYPE html>

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MenuGratis</title>
    <!-- Script para la funcion de alertas -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>


    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    Todos los platillos registrados
                </div>
                <div class="card-body">
                    <button class="btn btn-success" onclick="mostrarFormulario()">Agregar Platillo</button>

                    <br /><br />
                    <table id="tablaPla" class="table">
                        <thead>
                            <tr>
                                <th>Platillo</th>
                                <th>Descripcion</th>
                                <th>Precio</th>
                                <th>Tipo de platillo</th>
                                <th>Imagen</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>





    @section scripts{

        <script>

            var tablaPla; // Variable global para la tabla DataTable

            var url_llenarPlatillo = '@Url.Action("LlenarTablaPlatillo", "Home")';
            var url_AgregarPlatillo = '@Url.Action("AgregarPlatillos", "Home")';
            var url_ObtenerSecciones = '@Url.Action("ObtenerSecciones", "Home")';
            var url_detallarPlatillo = '@Url.Action("detallarPlatillo", "Home")';
            var url_actualizarPlatillo = '@Url.Action("ActualizarPlatillo", "Home")';
            var url_obtenerSecciones2 = '@Url.Action("ObtenerSecciones2", "Home")';
            var url_eliminarPlatillo = '@Url.Action("eliminarPlatillo", "Home")';

        </script>

        <script src="@Url.Content("~/Scripts/Views/Home/ListarPlatillo.js")" type="text/javascript"></script> 

        <script>

            $(document).ready(function () {

                tablaPla = $('#tablaPla').DataTable({
                    "ajax": {
                        "url": url_llenarPlatillo,
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "Nombre" },
                        { "data": "Descripcion" },
                        { "data": "precio" },
                        { "data": "Tipo" },
                        {
                            "data": "Imagen",
                            "render": function (data) {
                                return '<img src="' + data + '" style="max-width:100px; max-height:100px;" />';
                            }
                        },
                        {
                            "data": "Id_platillo",
                            "render": function (data) {
                                return '<button class="btn btn-primary btn-sm" type="button" onclick="mostrarFormularioEdit(' + data + ')"><i class="fas fa-pen"></i></button>' +
                                    '<button class="btn btn-danger btn-sm ml-2" type="button" onclick="eliminar(' + data + ')"><i class="fa fa-trash"></i></button>';
                            },
                            "orderable": false,
                            "searchable": false,
                            "width": "150px"

                        }

                    ]


                });
            });


        </script>

    }



</body>
</html>



